/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.services .services-item h4 {
		font-size: 14px;
		}
	
		.services .services-item p {
			font-size: 12px;
			}
	
}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
	.services .services-item h4 {
		font-size: 14px;
		}
	
		.services .services-item p {
			font-size: 12px;
			}
	


}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.services .services-item h4 {
		font-size: 14px;
		}
	
	
		.services .services-item p {
			font-size: 12px;
			}
	
   
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
   
	.services .services-item h4 {
		font-size: 14px;
		}
	
   
		.services .services-item p {
			font-size: 12px;
			}

}



@media (min-width: 767px) {
  #ContactUs div {
    /* margin-left:250px; */
    /* margin-top: 50px; */
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #ContactUs div {
    /* margin-left:270px; */
    /* margin-top: 120px; */
  }
	

}
@media (min-width: 1024px) and (max-width: 1440px) {
  #ContactUs div {
    display: inline;
    /* float: left; */
    /* margin-left:100px; */
    /* margin-top: 10px; */
  }
}

