/*  CSS file  */

.heading {
        margin:auto;
        text-align: center;
        box-sizing: border-box;
        width: 220px;
        height: 60px;
        padding: 15px;  
        border: 5px solid rgb(233, 225, 225);
        background: -webkit-linear-gradient(left, red , blue);
        background: -o-linear-gradient(right, red, blue); 
        background: -moz-linear-gradient(right, red, blue);
        background: linear-gradient(to right, red , blue);
        color: white;
        font-size: 16px;
    }
.row {
     box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
/* columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  @media screen and (max-width:1300px) {
    .img1{
      max-width: 100%;
    }
    .img2{
      max-width: 100%;
    }
    .img3{
      max-width: 100%;
    }
  }
  @media screen and (max-width:960px) {
    .img1{
      max-width: 100%;
    }
    .img2{
      max-width: 100%;
    }
    .img3{
      max-width: 100%;
    }
  }
  
  @media screen and (max-width:768px) {
    .img1{
      max-width: 100%;
    }
    .img2{
      max-width: 100%;
    }
    .img3{
      max-width: 100%;
    }
  }
  
  @media screen and (max-width:480px) {
    .img1{
      max-width: 100%;
    }
    .img2{
      max-width: 100%;
    }
    .img3{
      max-width: 100%;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
      .img1 {

        width: 400px;
        height: 230px;
  }
    .img2 {

        width: 417px;
        height: 230px;
      
  }
    .img3 {

        width: 413px;
        height: 230px;
}

  /* Some left and right padding inside the container */
  .content {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .content::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
