*{
    margin: 0;
    padding: 0;
}

.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}

.accordation {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}
.accordation li {
  list-style: none;
  width: 100%;
  padding: 5px;
}
.accordation li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}
.accordation .content {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.accordation input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}
.accordation input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}
